@media only screen and (max-device-width: 400px) {
    html {
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
}

body {
    background-color: #C9D6DE;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 978px;
    margin-left: auto;
    margin-right: auto;
}

@media (pointer: coarse) {
    html, body {
        touch-action: manipulation;
    }
}

p {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
}

p.title {
    font-family: 'Reem Kufi Fun', serif;
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0;
    line-height: 80px;
}

img.centered {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #517FFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 25px auto 30px;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease-in-out;
}

.button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.button:focus {
    background-color: #4775E0;
    outline: none;
}

.button:disabled {
    background-color: #7f7f7f;
    cursor: not-allowed;
}

button:disabled.button:active {
    transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

table.copyright {
    width: 100%;
    margin-top: -15px;
}

p.copyright {
    font-size: 12px;
    line-height: 16px;
}

p.home {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: 300;
    text-align: right;
}

a,a:visited {
    color: #395DB2;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

@media (pointer: fine) {
    .button:hover {
        background-color: #4775E0;
    }
    a:hover {
        color: #517FFF;
        text-decoration: none;
        white-space: nowrap;
    }
}

hr {
    margin-top: 60px;
}

.bold {
    font-weight: bold;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
    margin-left: 20px;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
    margin-left: 15px;
    margin-bottom: 5px;
}

.bull {
    margin-right: 6px;
}