@media only screen and (max-device-width: 400px) {
    html {
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
}

body {
    background-color: #C9D6DE;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}