@media only screen and (max-device-width: 400px) {
    html {
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
}

body {
    background-color: #C9D6DE;
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 5px;
}

.centered-canvas {
    display: flex;
    justify-content: center;
}

.canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 25px;
}

.button {
    background-color: #517FFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: #4775E0;
}

.button:active {
    transform: translateY(2px);
    box-shadow: none;
}

.button:focus {
    background-color: #4775E0;
    outline: none;
}

.button:disabled {
    background-color: #7f7f7f;
    cursor: not-allowed;
}

button:disabled.button:active {
    transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.label-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: flex-start;
    gap: 10px;
}

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid black;
}

.custom-checkbox:hover input ~ .checkmark {
    background-color: #ddd;
}

.custom-checkbox input:checked ~ .checkmark {
    background-color: #517FFF;
}

.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg) translate(-5px, -2.5px);
}

input[type="text"] {
    width: fit-content;
    height: 25px;
    font-weight: bold;
    font-size: 16px;
}

input[type="text"] {
    width: 4ch;
}
